astroid
attrs
cachelib
certifi
charset-normalizer
click
cycler
Deprecated
Flask==2.0.3
Flask-Session==0.4.0
gunicorn
idna
iniconfig
isort
itsdangerous
Jinja2
kiwisolver
lazy-object-proxy
MarkupSafe
mccabe
numpy
packaging
Pillow
platformdirs
pluggy
psycopg2-binary
py
pygal
pylint
pyparsing
pytest1
python-dateutil
python-dotenv==0.19.2
redis==4.1.4
requests
six
toml
tomli
typing_extensions
urllib3
Werkzeug
wrapt
