{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Members{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
{% if request.url_rule.endpoint == 'accesstokens.membersNoTokens' %}
    
    {% for memberId in orderedMembers['realMembersWithoutTokens'] %}
    <div class="card rounded-4 shadow-sm border-success" style="width: 50rem;">
        <div class="row">
            <div class="col">
                <a href="/member/show/{{ memberId }}" class="fs-4 link-info"><i class="bi bi-file-earmark-person"></i></a>
                {{ orderedMembers['realMembersWithoutTokens'][memberId]['MemberNumber'] }}
            </div>
            <div class="col">
                {{ orderedMembers['realMembersWithoutTokens'][memberId]['FirstName'] }} {{ orderedMembers['realMembersWithoutTokens'][memberId]['LastName'] }}
            </div>
            <div class="col">
                {% if ( orderedMembers['realMembersWithoutTokens'][memberId]['Saldo'] != '0' ) and ( orderedMembers['realMembersWithoutTokens'][memberId]['Saldo'] != '0.00' ) %}
                <span class="badge bg-danger translate-middle text-light rounded-pill">
                    {{ orderedMembers['realMembersWithoutTokens'][memberId]['Saldo'] }}
                </span>
                {% endif %}
            </div>
        </div>    
    </div>
    {% endfor %}
{% endif %}
{% if request.url_rule.endpoint == 'accesstokens.membersWithTokens' %}
    {% for memberId in orderedMembers['realMembersWithTokens'] %}
    <div class="card rounded-4 shadow-sm border-success" style="width: 50rem;">
        <div class="row">
            <div class="col">
                <a href="/member/show/{{ memberId }}" class="fs-4 link-info"><i class="bi bi-file-earmark-person"></i></a>
                {{ orderedMembers['realMembersWithTokens'][memberId]['MemberNumber'] }}
            </div>
            <div class="col">
                {{ orderedMembers['realMembersWithTokens'][memberId]['FirstName'] }} {{ orderedMembers['realMembersWithTokens'][memberId]['LastName'] }}
            </div>
            <div class="col">
                {% if ( orderedMembers['realMembersWithTokens'][memberId]['Saldo'] != '0' ) and ( orderedMembers['realMembersWithTokens'][memberId]['Saldo'] != '0.00' ) %}
                <span class="badge bg-danger translate-middle text-light rounded-pill">
                    {{ orderedMembers['realMembersWithTokens'][memberId]['Saldo'] }}
                </span>
                {% endif %}
            </div>
        </div>    
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}