<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <a class="navbar-brand" href="#">Lejre Fitness - Admin Page - {{ hostname }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('accesstokens.index') }}">Index</a></li>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('accesstokens.membersNoTokens')}}">Members Without Tokens</a></li>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('accesstokens.membersWithTokens')}}">Members With Tokens</a></li>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('accesstokens.refreshMemberData')}}">Refresh Data</a><i class="arrow-counterclockwise"></i></li>
      {% else %}
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </div>
  </nav>
  